.find .find__options {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px;
}

.find__options .find__option {
  display: flex;
  flex-direction: column;
  /* center 해줘야 글씨와 아이콘이 맞음,,왜 그런지는 모르겠지만 */
  align-items: center;
  color: #523737;
}

.find__option i {
  margin-bottom: 15px;
}

.find__option span {
  font-size: 12px;
}

.find__recommended {
  color: #b4b4b4;
}
.find__recommended header {
  padding: 7px 15px;
  border-bottom: 1px solid #ebebeb;
}

.find__recommended .recommended__none {
  padding: 20px 50px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
